*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background: url(../images//developer.png), url(../images/header_bg.png), #fff8f3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 51px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2{
    font-size: 45px;
    font-weight: 800;
}

.orange-color {
    color: #FD6E0A;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
/* share need */
.btn{
    Width: 150px;
    Height: 65px;
    border: none;
    border-radius: 5px;
    color:#FFFFFF;
    background-color: #FD6E0A;
    font-weight: bold;
    cursor: pointer;
    
}

 #banner {
    display: flex;
    margin: 46px 38px 0px 71px;
    justify-content: space-between;
    align-items: center;
}

.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.banner-content h1{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
}

.banner-content p{
    font-size: 18px;
    color: #757575;
    max-width: 585px;
}

#banner .banner-btn{
    display: flex;
    align-items: center;
    gap: 30px;
}

#banner .download-cv{
    margin-top: 30px;
    Width: 150px;
    Height: 65px;
    border: none;
    border-radius: 5px;
    color:#FFFFFF;
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

#banner .contact{
    margin-top: 30px;
    Width: 150px;
    Height: 65px;
    border: none;
    border-radius: 5px;
    color:#FFFFFF;
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;  
}

#banner img{
    max-width: 584px;
    max-height: 676px;
    padding-bottom: 0px;
    vertical-align: middle;
    align-self: end;
}

.about{
    margin: 130px 230px;
    background-color: #fff8f3;
}

.about-me{
    display: grid;
    justify-content: center;
    gap: 30px;
    padding: 131px 156px;
}

.about-me h2{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    text-align: center;
}

.about-me p{
    margin: 30px auto;
    max-width: 800px;
    text-align: center;
    color: #757575;
    font-size: 18px;
}

.about-info{
    display: flex;
    gap: 50px;
    padding: 30px auto;
}

.info-card p{
   font-size: 20px;
}

.info-card h4{
   font-size: 20px;
   font-weight: 700;
}

#skills{
    margin-top: 130px;
}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .section-heading h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}

#skills .skills-container .section-heading p{
    margin: 0 156px;
    color: #757575;
    font-size: 18px;
}

#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.skill-box .skill-card {
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000027;
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    color: #757575;
    font-size: 16px;
}